.alert {
	&__contact {
		margin: 1em 0 2em 0;
	}
}
.alert-success {
	font-size: 1.1rem;
	box-shadow: $boxShadowText;
}

.alert-danger {
	font-size: 0.9rem;
	padding: 0.5em;
	margin: 0.5em 0;

	&--error {
		box-shadow: $boxShadowText;
	}
}
