.slider__card {
	margin: 0.5em;
}

.card {
	@include card__gradient;
	box-shadow: $boxShadow;
	margin-bottom: 2em;
	border: none;

	&__featuredhotel {
		border: none !important;
	}
	&__popular {
		width: 100%;
		box-shadow: $boxShadowPopular;
		@media (max-width: $mobile) {
			width: 100%;
		}
		@media (min-width: $tablet) {
			width: 100%;
		}
		@media (min-width: $desktop) {
			width: 15em;
		}
	}
}

.card-img-top {
	height: 180px;
	object-fit: cover;

	&__featuredhotel {
		filter: drop-shadow(0 0 0.1rem var(--bs-black));
		filter: saturate(2);
	}
	&__popular {
		height: 150px;
		filter: saturate(2);
		@media (min-width: $tablet) {
			height: 130px;
		}
	}
}

.card-text {
	color: getColour(queen-blue);
	text-align: center;
	font-family: $heading-font-family;
	font-size: 1rem;
	margin: 0 auto;
}

.card-body {
	&__popular {
		height: 110px;
		@media (min-width: $tablet) {
			height: 150px;
		}
		@media (min-width: $desktop) {
			height: 120px;
		}
	}
}
