//custom bootstrap

.form-label {
	font-weight: 600;
	color: var(--bs-indigo);
}

.form-control {
	font-weight: 400;
}

.form {
	font-family: $font-family-base;
	border-radius: $border-radius;
	background-color: $form-bg--blue;
	padding: 2em;

	@media (max-width: $tablet) {
		padding: 1em;
	}

	&__login {
		max-width: 400px;
		margin: 2em auto;
	}

	&__contact {
		margin-bottom: 2em;
		@media (max-width: $tablet) {
			margin-right: 0em;
		}
	}

	&__add {
		max-width: 600px;
		margin: 0 auto;
	}
}

.heading__bg--yellow {
	background-color: var(--bs-yellow);
	box-shadow: $boxShadowPopular;
	padding-top: 0.5em;
}
