.search {
	position: relative;

	&__input {
		box-shadow: none;
		border: 2px solid rgba(getColour(indigo), 0.3);
	}

	&__input:focus {
		box-shadow: none;
		border: 2px solid rgba(getColour(copy), 0.3);
		background: transparentize($color: getColour(sunny), $amount: 0.3);
	}

	&__suggest {
		&:nth-child(even) {
			background: getColour(vivid);
		}
		background: getColour(queen-blue);
		padding: 0.25em 1em;
		width: fit-content;
		cursor: pointer;
		border-radius: $border-radius;
		align-items: center;
		& a {
			color: getColour(white);
		}
	}
}

.search__container {
	max-width: 100%;
	position: absolute;
	z-index: 9;
	@media (min-width: $tablet) {
		max-width: 90%;
	}
	@media (min-width: $desktop) {
		max-width: 80%;
	}
}

.space__top {
	margin-top: 5em;
}

.filter__container {
	background: rgba(getColour(queen-blue), 0.4);
}
